export(add.blocks,calc.variances,change.param,copy,expand.gpgrid,getgrid,Gibbs.sample.coeff,gp,Hastings.coeff,image.plot.info,image.plot.plt,image.plot,is.gp,logdensity,lonlat2xy,matern.specdens,new.mapping,propose.coeff,rdist.earth,simulate,updateprocess,xy2unit,zero.coeff)

importFrom(graphics,plot,lines,points)
importFrom(stats,predict)

S3method(add.blocks,gp)
S3method(copy,gp)
S3method(expand.gpgrid,gp)
S3method(updateprocess,gp)
S3method(predict,gp)
S3method(plot,gp)
S3method(points,gp)
S3method(lines,gp)
S3method(names,gp)
S3method(print,gp)
S3method(propose.coeff,gp)
S3method(zero.coeff,gp)
S3method(simulate,gp)
S3method(change.param,gp)
S3method(calc.variances,gp)
S3method(logdensity,gp)
S3method(getgrid,gp)
S3method(Gibbs.sample.coeff,gp)
S3method(Hastings.coeff,gp)
